<div class="container discussion-container">
  <div class="row">
    <p class="category">Category > {{model.category}}</p>
  </div>
  <div class="row">
    <div class="discussion-header-left col-xs-6">
      <div class="discussion-image">
        <img src='{{model.image}}'>
      </div>
    </div>

    <div class="discussion-header-right col-xs-6">
      <h3>{{model.product}}</h3>
      <p>{{model.description}}</p>
      <h3 class ="money">${{model.price}}</h3>
      <br>
      <button class="btn btn-lg btn-success" name="button"{{action 'saveProduct' model}}><span class=" fa fa-cart-plus"></span></button>
    </div>
  </div>

  <div class="row-author">
    <strong>Discussion started by {{model.author}}:</strong>
    <div class="discussion-author-notes">
      <div class="author-image">
        <img src='{{model.authorImage}}'>
      </div>
      {{model.notes}}
    </div>
  </div>
  <br>
  <br>
  <div class="new-comment">
    <h4>Add to the discussion about {{model.product}} below:</h4>
    {{new-comment discuss=model saveComment="saveComment"}}
  </div>

  {{#each model.comments as |comment|}}
  <div class = "fullComment">
    <div class = "fullComment-left">
      <p class = "comment"><img class = "authorImage" src='{{comment.authorImage}}'></p>
      <p class = "fullComment-author">{{comment.author}}</p>
    </div>
    <div class = "fullComment-inline">
      <p>{{comment.content}}</p>
    </div>
  </div>
  <hr>
  {{/each}}
</div>
