<div class="container discussion-container" style="border: 1px solid black;">
  <div class="row">
    <div class="discussion-header-left col-xs-6" style="border: 1px solid black;">
      <h3 class ="money" style="border: 1px solid black;">${{model.price}}</h3>
      <p class = "category" style="border: 1px solid black;">{{model.category}}</p>

      <img src='{{model.image}}'>
      <p style="border: 1px solid black;">{{model.description}}</p>
      <p style="border: 1px solid black;">{{model.notes}}</p>
    </div>

    <div class="discussion-header-right col-xs-6" style="border: 1px solid black;">

      {{model.author}}

    </div>
  </div>
  <h2 style="border: 1px solid black;">Reviews About {{model.product}} Below</h2>
  {{new-comment discuss=model saveComment="saveComment"}}

  {{#each model.comments as |comment|}}
  <div class = "fullComment" style="border: 1px solid black;">
  <div class = "left" style="border: 1px solid black;">
  <p class = "comment"><img class = "authorImage" src='{{comment.authorImage}}'></p>
  <p class = "comment">{{comment.author}}</p>
  </div>
  <div class = "inline">
  <p style="border: 1px solid black;">{{comment.content}}</p>
  </div>
  </div>
  <hr>
  {{/each}}
</div>

<div class="comment-container">
  {{#each sortedDiscussions as |discussion|}}
  <div class="comment-wrap" style="border: 1px solid black;">

    <div class="comment-left" style="border: 1px solid black;">
      <img id=comment-author-image src="{{discussion.authorImage}}" style="border: 1px solid black;">
    </div>




  </div>
  {{/each}}
</div>
