<h1>Individual product discussion page</h1>

<li>{{model.product}}</li>
<li>{{model.price}}</li>
<hr />
{{new-comment discuss=model saveComment="saveComment"}}

{{#each model.comments as |comment|}}
<p>Comment: {{comment.content}}</p>
<p>Author: {{comment.author}}</p>
<hr />
{{/each}}
