<div class="container sign-in-container" style="text-align:none;">
<h1>Start a discusison about this product</h1>

<li>{{model.product}}</li>
<li>{{model.price}}</li>

{{update-discussion updateDiscuss="updateDiscuss" discuss=model}}
</div>


<!-- {{new-comment discuss=model saveComment="saveComment"}}

{{#each model.comments as |comment|}}
<p>Comment: {{comment.content}}</p>
<p>Author: {{comment.author}}</p> -->
<!-- <p>Pic: {{userImage}}</p> -->

<!-- <hr />
{{/each}} -->
