<div class="container">
  <div class="well newCenter">
  <h2>{{model.product}}</h2>
  <h3 class ="money">${{model.price}}</h3>
  <p class = "category">{{model.category}}</p>
  <img class = 'circlePic mainPic' src='{{model.image}}'>
  <p>{{model.description}}</p>
  <p>{{model.notes}}</p>
  </div>

{{update-discussion updateDiscuss="updateDiscuss" discuss=model}}
</div>
