<ul>
    <div class="product-container">
      {{#each model.walMart as |product|}}
        <div class="product-box">
          <div class="img-wrap">
            <img src={{product.imageEntities.[0].thumbnailImage}}>
          </div>
          <div class="product-store">
            <em>Walmart</em>
          </div>
          <div class="product-name">
            {{product.name}}
          </div>
          <div class="product-sale-price">
            ${{product.salePrice}}
          </div>
          <div class="product-likes-and-comments">
            <div class="product-likes">
              <div class="thumbs-up-and-down">
                <div class="thumbs-up-wrap">
                  <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size:18px;"></i>
                </div>
                <div class="thumbs-down-wrap">
                  <i class="fa fa-thumbs-down" aria-hidden="true" style="font-size:18px;"></i>
                </div>
              </div>
            </div>
            <div class="product-comments">
              <i class="fa fa-comment" aria-hidden="true" style="font-size:18px;"></i>
            </div>
          </div>
        </div>
      {{/each}}

      {{#each model.bestBuy as |product|}}
      <div class="product-box">
        <img src={{product.thumbnailImage}}>
      </div>
      {{/each}}
    </div>
  {{display-cart}}
</ul>
