<ul>
  {{#each model as |product|}}
    <br>
    {{product.name}} -- ${{product.salePrice}}
    <form>
      {{input value=product.salePrice type='' id=product.salePrice}}
      {{input value=product.name type='' id=product.name}}
      <button {{action 'saveProduct'}}>Add to Cart</button>
    </form>
  {{/each}}
</ul>
