<ul>
  <table>
    <th>
      <td>Item</td>
      <td>Price</td>
      <td>Add</td>
    </th>
    {{#each model.walMart as |product|}}
      <tr>
        <td class="table-data"> {{product.name}} </td>
        <td class="table-data"> ${{product.salePrice}} </td>
        <td class="table-data">
          <div>
            <form>
                {{input value=product.name id=product.name type="hidden"}}
                {{input value=product.salePrice id=product.salePrice type="hidden"}}
              <button {{action 'saveProduct' product}}>Add to Cart</button>
            </form>
          </div>
        </td>
      </tr>
    {{/each}}

    {{#each model.bestBuy as |product|}}
      <tr>
      <td class="table-data"> {{product.name}} </td>
      <td class="table-data"> ${{product.salePrice}} </td>
      <td class="table-data">
        <div>
          <form>
              {{input value=product.name id=product.name type="hidden"}}
              {{input value=product.salePrice id=product.salePrice type="hidden"}}
            <button {{action 'saveProduct' product}}>Add to Cart</button>
          </form>
        </div>
      </td>
      </tr>
    {{/each}}
  </table>
  {{display-cart  removeFromCart="removeFromCart" product=product}}
</ul>
